<h2>Edit Todo</h2>

<form action="/todos/update/<%= @todo.id %>" method="POST">
  <label for="title">Title</label>
  <input type="text" id="title" name="todos[title]" value="<%= @todo.title %>"><br>
  <label for="due_to">Due to</label>
  <input type="text" id="due_to" name="todos[due_to]" value="<%= @todo.due_to %>"><br>
  <label for="priority">Priority</label>
  <input type="text" id="priority" name="todos[priority]" value="<%= @todo.priority %>"><br>
  <label for="status">Status</label>
  <select id="status" name="todos[status]" value="<%= @todo.status %>">
    <option value="in progress">In Progress</option>
    <option value="done">Done</option>
  </select>
  <button type="submit">Update Todo</button>
</form>