<h1>Todos</h1>

<a href="/todos/new">Add new Todo</a>

<% if @todos.size > 0 %>
  <table>
  <tr>
    <th>Title</th>
    <th>Due To</th> 
    <th>Priority</th>
    <th>Status</th>
  </tr>
   <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.due_to %></td>
      <td><%= todo.priority %></td>
      <td><%= todo.status %></td>
      <td>
      <a href="/todos/edit/<%= todo.id %>">Edit</a>
      </td>
      <td>
      <form action="/todos/delete/<%= todo.id %>" method="POST">
        <button type="submit">Delete</button>
      </form>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>Nothing to Do</>
<% end %>